<?xml version="1.0" encoding="UTF-8"?>
<suite name="API Automation Suite" parallel="tests" thread-count="2">
    <test name="Users API Tests">
        <classes>
            <class name="tests.UserPostTest"/>
            <class name="tests.UserTests"/>
            <class name="tests.CommentsAPITest"/>
        </classes>
    </test>
</suite>
